---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import Comments from "../../components/Comments.astro";
// import CommentsList from '../../components/CommentsList.astro';
import CommentsList from '../../components/CommentsList.tsx';
import { render } from 'astro:content';

// export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
	<Content />
	<Comments post_slug={post.id} /> 
	<CommentsList post_slug={post.id} server:defer/>
	<!-- <CommentsList server:defer post_slug={post.id} > 
		<p
			slot="fallback"
			class="bg-gray-300 mt-5 text-center rounded-xl p-2 animate-pulse"
	  	>
			Wait...
	  	</p>
	</CommentsList>  -->
</BlogPost>
