---
// import CommentsForm from './CommentsForm.astro';
import CommentsForm_new from './CommentsForm_new.astro';
// import CommentsList from './CommentsList.astro';

export const prerender = false;

interface Props {
  post_slug: string;
}

const { post_slug } = Astro.props;
---

<div class="comments-section">
  <!-- <CommentsForm post_slug={post_slug} /> -->
  <CommentsForm_new server:defer post_slug={post_slug} > 
    <p
      slot="fallback"
      class="bg-gray-300 mt-5 text-center rounded-xl p-2 animate-pulse"
    >
    Wait...
  </p>
  </CommentsForm_new>
  <!-- <CommentsList postSlug={postSlug} server:defer /> -->
</div>