---
import CommentsForm from './CommentsForm.astro';
// import CommentsForm from './CommentsForm.tsx';
// import CommentsForm_new from './CommentsForm_new.astro';
import CommentsList from './CommentsList.astro';

export const prerender = false;

interface Props {
  post_slug: string;
}

const { post_slug } = Astro.props;
---

<div class="comments-section">
  <CommentsForm post_slug={post_slug} />
  <!-- <CommentsForm post_slug={post_slug} client:visible/>  -->
  <CommentsList post_slug={post_slug} /> 
</div>